body {
    background-color:##ff7e5f ; 
    background-image:#feb47b ; 
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333; 
}

form {
    display: flex;
    align-items: center;
}

label {
    margin-right: 10px;
    color: #333; 
}

input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 8px 16px;
    background-color: #007bff; 
    color: #fff; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; 
}

#cat-image-container {
    margin-top: 20px;
    text-align: center;
}
